body{
    margin: 0px;
    background: gray;
}
/*--Header tag Styles--*/
.header{
    background: darkslategray;
    margin-bottom: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    div:last-child{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        text-align: center;
        justify-content: space-evenly;

        a{
            text-decoration: none;
            color: white;
            font-size: 1.2em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            &:hover{
                font-weight: bold;
            }
        }
    }

    img{
        width: 200px;
    }
}
/*--Article tag Styles--*/
.article{
    text-align: center;
    margin-bottom: 4%;

    h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
    }
}
/*--Main(grid-box) tag styles--*/
.grid-box{
    background: darkslategrey;
    padding: 1%;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(280px, 1fr));   /*--1fr 1fr 1fr 1fr;--*/ 
    grid-template-rows: auto;
    grid-gap: 15px;
    text-align: center;
    margin-bottom: 4%;

    .grid-item{
        border-color: black;
        border-radius: 10px;
        background: gray;

        &:hover{
        transform: scale(1.05);
    }
    }

    img{
        border-radius: 10px;
        width: 100%;
    }
    
    a{
        text-decoration: none;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .movie-name{
            margin-bottom: 10px;
            font-size: 1.1em;
            font-weight: bold;
        }

        .quality{
            font-size: .8em;
        }
    }
}
/*--Search-box styles--*/
.search-box{
    background: darkslategray;
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
    padding: 20px 0;
    margin-bottom: 4%;
    text-align: center;
    border-radius: 10px;

    div:first-child{
        color: white;
        font-size: 1.1em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 10px;
    }

    div:last-child{
        background: black;
        display: inline-block;
        border-radius: 5px;
    }
    input{
        background: gray;
        color: white;
        border: none;
        border-radius: 5px;
        outline: none;
        font-size: 18px;
    }
}
hr{
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
    border: none;
    height: 1px;
    background-color: black;
}
/*---Footer tag styles-*/
.footer{
    background: darkslategray;
    color: white;
    /*width: 90%;
    margin: auto;
    border-radius: 10px;*/
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    a{
        text-decoration: none;
        color: white;
        &:hover{
            font-weight: bold;
        }
    }
}
